.div-header-main-container {
  width: 100%;
  height: 17vh;
  background: #4348ca;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    margin: 0;
    color: white;
    font-weight: 200;
  }
}
