@import "styles/settings/__settings";

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}
.containerHeader {
  width: 100%;
  background: rgba(244, 233, 227, 1);
  height: 77vh;
  img {
    width: 40%;
    height: 90vh;
  }
  p {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 38%;
    a {
      color: rgba(202, 61, 21, 1);
      font-family: "Playfair Display";
      font-weight: 800;
      font-size: 54px;
      margin: 2.5px 0px;
      background: rgba(225, 175, 156, 1);
      padding: 0px 20px;
      cursor: pointer;
    }
  }
  span {
    position: relative;
    bottom: 25%;
    left: 16%;
    font-weight: 600;
    color: rgba(91, 79, 92, 1);
    font-family: "Playfair Display";
  }

  button {
    position: relative;
    bottom: 22%;
    left: 70%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(202, 61, 21, 1);
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    font-size: 18px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    &:hover {
      opacity: 0.8;
    }
  }
  @media (min-width: 1400px) {
    height: 80vh;
    p {
      a {
        font-size: 68px;
      }
    }
    button {
      position: relative;
      bottom: 16%;
      left: 67%;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: rgba(202, 61, 21, 1);
      border: none;
      cursor: pointer;
      color: white;
      display: flex;
      font-size: 18px;
      font-weight: 800;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.contentHomeWp {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: space-between;
  h2 {
  }
  p {
    left: 0;
    width: 50%;
    top: 100px;
    position: absolute;
  }
}
.posts {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 0 0;
  height: 95vh;

  width: 60vw;
  & > li {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.containerPost {
  cursor: pointer;
  font-size: 1.8rem;
  color: white;
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: orangered;
    font-weight: 600;
    font-size: 2rem;
  }
  span {
    font-size: 2rem;
  }
  p {
    margin: 0;
  }
}
.texExperience {
  color: orangered;
  font-size: 1.5rem;
}
.swipeIconUPdOW {
  box-sizing: border-box;
  border: solid 4px rgb(252, 252, 252);
  display: block;
  position: absolute;
  top: 45%;
  left: 10%;
  bottom: 16px;
  height: 35px;
  width: 20px;
  border-radius: 30px;
  opacity: 0.25;
  @media (max-width: 700px) {
    display: none;
  }
}

.swipeIconUPdOW::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: rgb(252, 252, 252);
  position: absolute;
  top: 8px;
  left: 2px;
  border-radius: 100%;
  animation: mouse 1s infinite;
}
.sectionPostOnlyDesk {
  padding: "50px 0px 0px 0px";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 700px) {
    display: none;
  }
}
.containerPostOnlyDesk {
  @media (max-width: 700px) {
    display: none;
  }
}
.sectionPostOnlyMobile {
  @media (min-width: 700px) {
    display: none;
  }
}
.containerPostOnlyMobile {
  height: 75vh;
  color: white;
  font-size: 16px;
  position: relative;
  span {
    font-size: 16px;
  }

  @media (min-width: 700px) {
    display: none;
  }
}

@keyframes mouse {
  0% {
    transform: none;
    opacity: 1;
  }
  40% {
    transform: translateY(-8px);
  }
  80% {
    transform: translateY(1px);
    opacity: 0;
  }
  100% {
    transform: translateY(1px);
    opacity: 0;
  }
}
.containerIconsHome {
  position: absolute;
  font-size: 26px;
  color: white;
  z-index: 99999999999999;
  bottom: 25%;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.deskResponse {
  @media (max-width: 700px) {
    display: none;
  }
}
.mobileResponse {
  @media (min-width: 700px) {
    display: none;
  }
  .mobileResponseLogo {
    background: var(--mood-backgro-fondo);
    text-align: center;
    height: var(--mood-heigth-custom);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 4;
    border-bottom: 1px solid black;
  }
  img {
    display: var(--mood-display-custom);
    width: 50%;
  }
  h5 {
    display: var(--mood-display-custom);
    margin-top: 5px;
    color: white;
    font-weight: 400;
  }
  h6 {
    display: var(--mood-display-custom-h6);
    margin-top: 5px;
    color: white;
    font-weight: 400;
    font-size: 36px;
  }
  main {
    position: relative;
    height: 100%;
    .mobileResponseMainImg {
      position: relative;
      display: flex;
      justify-content: center;
      top: -20px;
      width: 100%;
      height: 60vh;

      img {
        width: 70%;
        border: 2px solid black;
        z-index: var(--mood-index-custom);
      }
    }
  }
}
.buttonMobileChatContainer {
  width: 100%;
  top: 80%;
  left: 0;
  position: sticky;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.buttonMobileChat {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fc9c84;
  border: 1px solid black;
  box-shadow: 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px -1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 5px -1px rgba(0, 0, 0, 1);
  -o-box-shadow: 5px -1px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
}
.sectionMobile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &one {
    position: relative;
    z-index: 2;
    background: black;
  }

  &two {
    position: relative;
    z-index: 2;
    background: black;
  }

  &three {
    position: relative;
    z-index: 2;
    background: black;
  }
  &four {
    position: relative;
    z-index: 2;
    background: white;
  }
  &five {
    position: relative;
    z-index: 2;
    background: white;
  }
  &six {
    position: relative;
    z-index: 2;
    background: white;
  }
  &seven {
    position: relative;
    z-index: 2;
    background: white;
  }
  &eight {
    position: relative;
    z-index: 2;
    background: white;
  }
  &nine {
    position: relative;
    z-index: 2;
    background: white;
  }
  &ten {
    position: relative;
    z-index: 2;
    background: #4348ca;
  }
}
.sectionMobileTextP {
  position: relative;
  z-index: 4;
  padding: 10px;
  width: 80%;
  top: 10%;
  h3 {
    width: 250px;
  }
  p {
    background: #4348ca;
    width: 250px;
    color: white;
  }
}
.sectionMobileBckgrong {
  background-image: url("https://i.imgur.com/Qa3nGRj.png");
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  @media (max-height: 600px) {
    background-image: url("https://i.imgur.com/LK3R3oz.png");
  }
}
.mobileResponseButtonHead {
  height: 70px;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 6;
  position: fixed;
}

.mobileResponseButtonHeadHambur {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fc9c84;
  border: 1px solid black;
  box-shadow: 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px -1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 5px -1px rgba(0, 0, 0, 1);
  -o-box-shadow: 5px -1px rgba(0, 0, 0, 1);
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  text-align: center;
  color: black;

  span {
    margin: 0;
    height: 10px;
  }
}
.mobileResponseButtonHeadHeader {
  background: black;
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  position: fixed;
  height: 25vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ul {
    position: relative;
    display: flex;
    width: 60%;
    height: 24vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0% 0;
    li {
      width: 250px;

      position: relative;
      color: white;
      margin: 2%;
      z-index: 9;
      font-size: 20px;
      @media (max-height: 750px) {
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}
.dontAffect {
  position: relative;
  z-index: 4;
}
.wsspIcon::before {
  font-family: fontAwesome;
  font-size: 22px;
  content: "\f1d8";
  margin: 5px;
  color: black;
}
.letterIcon::before {
  font-family: fontAwesome;
  font-size: 22px;
  content: "\f0e0";
  margin: 5px;
  color: white;
}
/////@at-root

.mobileResponseSobreMi {
  @media (max-width: 750px) {
    display: none;
  }
}
.sobreMicontainer {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;

  justify-content: center;
}
.sobreMicontainerLabel {
  width: 80%;

  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}
.sobreMicontainerLabelDivImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sobreMicontainerLabeText {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sobreMicontainerLabeTextWroap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 8%;
}
.sobreMicontainerContacto {
}
.mobileResponseasesoramientoAduanero {
}
