.layoutContainer {
  width: 100%;

  position: fixed;
}
.layoutContainerCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainerCenter {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
