.contact-feature {
  height: 40vh;
  background: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-feature-rigth {
  width: 40%;
}
.contact-feature-left-contienr {
  position: relative;
  img {
    top: 30px;
    position: absolute;
    width: 196px;
    height: 56px;
  }
}
.contact-feature-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  p {
    margin: 0;
    font-weight: 500;
  }
}
